# Backend (Maven)
backend/target/

# Frontend (Node)
frontend/node_modules/
frontend/dist/

# IntelliJ / VSCode / IDE
.idea/
*.iml
.vscode/

# Systemowe
.DS_Store
Thumbs.db

# Środowiska / sekrety
*.env
